body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.pluginFontVerdana div{
  display: flex;
  justify-content: center;
}
// .pluginSkinLight, .pluginFontHelvetica,
// .pluginSkinDark, .pluginFontVerdana{
  // 4080ff Follow  | 1877f2  1877f2
// }

// .fb-button-container {
//   display: flex;
//   flex-direction: column;
//   gap: 10px;
// } 

// .fb-like-button,
// .fb-share-button {
//   border: none;
//   overflow: hidden;
//   transition: transform 0.3s ease-in-out;

//   &:hover {
//     transform: scale(1.05);
//   }
// }


// .fb-button-container iframe {
//   width: 100%;
//   height: 100%;
//   border: none;
// }
